capstone.wrap
capstone/
frida-gum/
glib.wrap
glib/
json-glib.wrap
json-glib/
libdwarf.wrap
libdwarf/
libffi.wrap
libffi/
libpsl.wrap
libpsl/
libsoup.wrap
libsoup/
libunwind.wrap
libunwind/
libxml2.wrap
libxml2/
pcre.wrap
pcre/
proxy-libintl.wrap
proxy-libintl/
quickjs.wrap
quickjs/
sqlite.wrap
sqlite/
tinycc.wrap
tinycc/
xz.wrap
xz/
